
<h2>Descrição do filme <%= @film.name%></h2>

<% if flash[:notice] %>
    <div style="margin: 10px 0px">
        <%= flash[:notice] %>
    </div>
<% end %>

<% if flash[:success] %>
    <div style="margin: 10px 0px">
        <%= flash[:success] %>
    </div>
<% end %>

<dl>
    <% #Poderia ter um <dt> </dt>%>
    <dd>
        <strong>Filme: </strong><%= @film.name %>
    </dd>
    <dd>
       <%= image_tag("data:image/jpg;base64,#{@film.image}") %>
    </dd>
    <dd>
        <strong>Ano: </strong><%= @film.year %>
    </dd>
     <dd>
        <strong>Categoria: </strong><%= @film.category[:name] %>
    </dd>
    <dd>
        <strong>Diretor: </strong><%= @film.director[:name]%>
    </dd>
    <dd>
        <strong>Sinopse: </strong><%= @film.synopsis %>
    </dd>
    <dd>
        <strong>Duração (min): </strong><%= "#{@film.duration} minutos" %>
    </dd>
</dl>


      <%= link_to 'Editar', edit_film_path %>


<h2>Outros filmes do gênero <%= @film.category[:name]%>:</h2>



<% @films.each do |film| %>
  <% if film.category[:name] == @film.category[:name]  %>
      <%= content_tag(:p, film.name) %>
  <% end %>
<% end %>


