<!DOCTYPE html>
<html>
  <head>
    <title>CatalogoFilmes</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
  <nav>
      <ul style="list-style-type:none;">
          <li>
              <%= link_to 'Home', root_path %>
          </li>
          <li>
              <%= link_to 'Cadastrar filme', new_film_path %>
          </li>
          <li>
              <%= link_to 'Cadastrar gênero', new_category_path %>
          </li>
          <li>
              <%= link_to 'Cadastrar diretor', new_director_path %>
          </li>
      </ul>
  </nav>
    <%= yield %>
  </body>
</html>
